body
{
    background-image:url(../Images/background.png);
    background-size:cover;
    background-repeat: no-repeat;
    font-family:"Segoe UI";
}
ul
{
    padding:0;
    list-style-type: none;
}
.header
{
    width:1030px;
    margin: auto;
    height: 50px;
}
.mikasa-logo
{
    float:left;
}
.top-right-navbar
{
    float:right;
    margin-right: -3px;
    font-size: 13px;
    color:rgb(136,136,136,255);
}

.top-right-navbar li
{
    display: inline-block;
    margin:0px 5px 0px 5px;
}
.top-right-navbar a
{
    text-decoration: none;
    color:navy;
}
.navbar
{
    height:40px;
    width:100%;
    position: absolute;
    border:1px solid rgba(215,213,214,255);
    background-color: rgba(215,213,214,255);
    outline:1px solid white;
    outline-offset: -2px;
    margin:0px 5px 0px -4px;
    font-size: 14.5px;
}
.navbar-content
{
    height:35px;
    width:1030px;
    margin:auto;
    margin-top: -6.5px;
}
.navbar-content ul
{
    
    margin-left: -5px;
}
.navbar-content li
{
    display:inline-block;

}
.navbar-content span
{
    height: 100%;
    padding: 0px 10px 0px 10px;
}
.search-input
{
    width: 170px;
    font-size: 12px;
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    padding: 2px 5px;
}
.delimiter
{
    border-left: 1px solid rgb(255,255,255,0.5);
    height: 44px;
    vertical-align: top;
    margin-top: -14px;
    display: inline-block;
}
.navbar-input
{
    float:right;
    margin-right:5px;
}
.banner
{
    width:100%;
    height: 50px;
    border-bottom:1px solid rgba(215,213,214,255);
    margin:40px auto auto auto;
    color:rgb(136,136,136,255);
}
.banner-content
{
    margin:auto;       
    width: 1030px;
    color: navy;
    text-align: left;
    padding:8px 0px 0px 20px;
}
.incentives
{
    margin:2px 0px 0px auto;
    display:inline-block;
    padding-top: 10px;
    font-size: 14px;
}
.bridal-registry
{
    float:right;
    margin-right: 38px;
    padding-right: 40px;
    font-size: 14px;
    
}

.banner-content a
{
    margin:15px 0px 0px 5px;
    display:inline-block;
    text-decoration: none;
    color:inherit;
}
.bridal-registry img
{
    display:inline-block;
    height: 37px;
    margin-bottom: -12px;
}
.upper-container
{
    width:1030px;
    border:10px solid white;
    margin:auto;
    height:445px;
}
.upper-left
{
    float:left;
}
.upper-left img
{
    width:700px;
    border-right:10px solid white;
    height:446px;
}
.upper-right
{
    float:right;
    width: 290px;
    height: 415px;
    background-color: rgba(60,59,57,255);
    outline: 1px solid rgb(255,255,255,0.3);
    outline-offset:-10px;
    padding:15px;
    color: rgb(255,255,255);
    font-size:14px;
    
}
.upper-right h2
{
    color:white;
    font-weight: 300;
    margin: 15px;
    font-size: 32px;
    
}
.upper-right h4
{
    margin:20px;
    font-weight: 300;
    color:rgba(204, 204, 204, 0.8);
}
.upper-right span
{
    margin:20px;
}
.upper-right hr
{
    margin:5px 20px 5px 20px;
    height: 1px;
    border: none;
    border-top: 1px solid rgba(204, 204, 204, 0.4);
}
.upper-right a
{
    color:rgba(204, 204, 204, 0.8);
    margin:20px;
    text-decoration: underline;
    font-size:14px;
}
.lower-container
{
    width:1030px;
    height:170px;
    border:10px solid rgb(65, 64, 64);
    margin:auto;
    background-color: white;
    font-size: 14.5px;
}
.lower-container h5,h3
{
    margin:0;
    font-weight: 400;

}
.lower-container a
{
    color:navy;
    text-decoration: none;
}
.lower-left
{
    float:left;
    width:32.5%;
    background-color: white;
    height:100%;
}
.lower-middle
{
    display: inline-block;
    width:32.5%;
    background-color: white;
    height:100%;

}
.lower-right
{
    float:right;
    width:33%;
    background-color: white;
    height:100%;
}
.lower-left-mainheading 
{
    color:rgb(0, 0, 0,0.7);
    position:absolute;
    margin: 15px 0px 0px 15px;
}
.lower-left-subheading
{
    color:rgb(0, 0, 0,0.7);
    position:absolute;
    margin: 40px 0px 0px 16px;  
}
.lower-left-link
{
    position:absolute;
    margin: 72px -50px 0px 203px;
    color:navy;
    text-decoration: none;

}

.lower-middle-link
{
    position:absolute;
    margin: 72px -40px 0px 191px;
    color:navy;
    text-decoration: none;

}
.lower-right-mainheading 
{
    color:rgb(0, 0, 0,0.7);
    position:absolute;
    margin: 15px 0px 0px 15px;
    width:50%;
}
.lower-right-subheading
{
    color:rgb(0, 0, 0,0.7);
    position:absolute;
    margin: 72px 0px 0px 16px;  
}
.lower-right-link
{
    position:absolute;
    margin: 122px -50px 0px 15px;
    color:navy;
    text-decoration: none;

}
.lower-left img
{
    padding-top:3px;
}
.lower-middle img
{
    padding-top: 38px;

}
.lower-right img
{
    float:right;
    padding-top: 9px;
}
.footer
{
    width:1030px;
    margin:auto;
    color:rgb(255,255,255,0.5);
    font-size:13px;

}
.footer a
{
    color:rgb(255,255,255,0.5);
    text-decoration: underline;
}

.left-footer
{
    float:left;
    margin-left: -12px;
}
.left-footer p
{
    margin:0;
}
.left-footer li
{
    display:inline-block;
}
.right-footer
{
    float:right;
    margin-right: -11px;
}
.email-input
{
    width:200px;
}
.button
{
    border-radius:3px;
    color:rgb(0, 0, 0);
    background-color: white;
}
.division-seperator
{
    border-right: 0.1px solid rgb(128,128,128,0.4);
    height: 90%;
    display: inline-block;
    margin-bottom: 8px;
}
